
.img>img{
    width:80%;
    position: absolute;
    top:140%;
    left:10%;
}
.key{
    position:absolute;
    align-items: center;
    text-align: center;
    width: 50%;
    left: 25%;
    top:100%;
}
@media (max-width: 600px) { 
    .img>img{
        top:180%;
    }
    .key{
        position:relative;
        left:0%;
        width: 100%;
        top:100%;
    }
}