.dashboard {
    padding-left: 20%;
}

.dashboard .content {
    padding-top: 10%;
    margin-left: 10%;
    width: 80%;
}

.dashboard .content h1 {
    color: #6A41AE;
    font-size: 37.2px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    padding-bottom: 3%;
}

.dashboard .content h2 {
    color: #9290C3;
    font-size: 30 px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    padding-bottom: 3%;
}

.dashboard .tables{
    display: flex;
    padding: auto;
}

.dashboard .food{
    margin-left: 10%;
}
.dashboard .food table {
    border: 1px solid #6A41AE;
    border-radius: 16px;
    border-collapse: separate; /* Make sure cells are not collapsed to see the border radius */
    border-spacing: 0; /* Optional, you can adjust spacing if needed */
    overflow: hidden;
}
.dashboard .food table{
    padding: 10px 20px;
}
.dashboard .food td{
    padding: 10px 20px 10px 0;
}

.dashboard .food .bold{
    color: #6A41AE;
    font-weight: bold;
}

.dashboard .food .green{
    color: green;
    font-size: 12px;
    font-weight: bold;
}













.dashboard .content p{

    color: #9290C3;

    text-align: center;

    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.dashboard .content .image-container{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.dashboard .content .image-container img{
    width: 247px;
    height: 245px;
    flex-shrink: 0;

    border-radius: 20px;
}
.dashboard .content .image-container h3{
    color: #6A41AE;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    margin-bottom: 5%;
}

.dashboard .content .image-container .content1 {
    padding: 5%;
}


.dashboard .content .para {
    padding-top: 5%;

    color: #9290C3;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}