.faq{
    max-width: 1200px;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 100px;
}


.faq .faq-contain h3{
    font-size: 40px;
    font-weight: 800;
}
.faq h4{
    color: #9290C3;
    font-weight: 400;
}

.faq .faq-contain {
    text-align: center;
    max-width: 1200px;
    margin: auto;
    align-items: center;
    padding:100px 0 0 0;
}

.faq hr{
    margin: auto;
    max-width: 1200px;
    align-items: center;
    text-align: center;
    justify-content: center;
    border: none; /* Removes the default border */
    border-top: 0px solid #6A41AE; /* Adds a new colored border */
    color: #6A41AE; /* Sets the color of the horizontal rule */
    background-color: #6A41AE; /* Sets the background color */
    height: 2px; /* Sets the height of the horizontal rule */
    
}

.faq .faq-contain1 h5{
    font-weight: 600;
}

.faq .faq-contain1 p{
    color: #9290C3;
}


.faq p {
    padding: 20px 0 40px 0;
}

.faq h5{
    font-size: 20px;
    padding: 20px 0 0 0;

}


/*button */
.faq .faq-contain  .button {
    background: #6A41AE;
    border-radius: 6px;
    border: 2px solid transparent;
  
    box-shadow: 8px 8px 20px 0px #9290C3;
  
    line-height: 20px;
    cursor: pointer;
    transition: all 0.3s;
    color: white;
  
    font-size: 15px;
    padding: 10px 20px;
  }
  
  .faq .faq-contain  .button:hover {
    color: #6A41AE;
    background-color: #fafafa;
    border: 2px solid #6A41AE;
  }
  