.footer {
    padding: 0 0 1px 0;;
}

.foot {
    padding: 0px 0 100px 0;
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

.footer .logo img{
    width: 100px;
    margin-left: 75px;
}

.footer .content1{
    max-width: 200px;
    margin: auto;
}

.footer p{
    padding: 10px 0 0 0;
}

.footer .subscribe{
    max-width: 400px;
    margin: auto;
    padding: 20px;
}



input::placeholder {
  color: #6A41AE; /* Color of the placeholder text */
  opacity: 0.5; /* Ensures the color is fully applied (optional) */
}

.footer .subscribe .box {
    display: flex;
    margin: auto;
}

.footer .subscribe .box .button{
    margin: auto;
}

.footer .right hr{
    margin: auto;
    max-width: 1500px;
    align-items: center;
    text-align: center;
    justify-content: center;
    border: none; /* Removes the default border */
    border-top: 0px solid #6A41AE; /* Adds a new colored border */
    color: #6A41AE; /* Sets the color of the horizontal rule */
    background-color: #6A41AE; /* Sets the background color */
    height: 2px; /* Sets the height of the horizontal rule */
}

.footer .right .arrange {
    font-size: 12px;
    color: #6A41AE;
    max-width: 1500px;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.footer .right .arrange .type {
    padding: 0 100px 0 0;
}

.footer .right .arrange .type img {
    padding: 0 20px;
    justify-content: baseline;
}

.icon-container {
    display: flex;
    align-items: center; /* Aligns items vertically in the center */
    justify-content: flex-end; /* Adjusts spacing between items */
    margin-left: auto;
  }
  
.icon {
    margin: 5px; /* Adds some space around each icon */
    padding: 0 0 0 20px;
    width: 30px;
}



.subscribe .box #subscribe {
    width: 280px;
    padding: 10px;
    border: 1px solid #6A41AE;
    border-radius: 5px;
  }