.navbarr {
    padding: 0px;
    display: flex;
    align-items: center;
    width: 100%;
    margin: auto;
    box-shadow: 8px 8px 20px 0px #9290C3;
    z-index: 1;
    position:fixed;
    background-color: #fff;
}




.navbarr .links {
    margin-left: auto;
    margin-right: 75px;
    
}

.navbarr a {
    color: #9290C3;
    margin-right: 75px;
    text-decoration: none;
    padding: 1px 6px;
}

.navbarr a:hover{
    color: #6A41AE;
}

.navbarr .logo{
    width: 100px;
    margin-left: 75px;
    cursor: pointer;
    
}




/*button */
.navbarr .links .button {
    background: #6A41AE;
    border-radius: 6px;
    border: 2px solid transparent;
  
    box-shadow: 8px 8px 20px 0px #9290C3;
  
    line-height: 20px;
    cursor: pointer;
    transition: all 0.3s;
    color: white;
  
    font-size: 15px;
    padding: 10px 20px;
  }
  
  .navbarr .links .button:hover {
    color: #6A41AE;
    background-color: #fafafa;
    border: 2px solid #6A41AE;
  }
  