.real1 {
    display: flex;
    max-width: 1500px;
    margin: auto;
    align-items: center;
    padding:100px 0 0 0;
}

.real .real1 .real-content {
    max-width: 900px;
}




.real .real1 .real-content h3{
    font-size: 40px;
    font-weight: 600;
}







.real .real1 .real-content1 {
    max-width: 600px;
    padding: 0 20px;
}

.real .real1 .real-content1 p {
    color: #9290C3;
}


/*button */
.real .real1 .real-content1 .button {
    margin-top: 20px;
  }
  
.real .map {
    max-width: 1500px;
    margin: auto;
    align-items: center;
    padding:50px 0 0 0;
}




/*button */
.real .real1 .real-content1 .button {
    background: #6A41AE;
    border-radius: 6px;
    border: 2px solid transparent;
  
    box-shadow: 8px 8px 20px 0px #9290C3;
  
    line-height: 20px;
    cursor: pointer;
    transition: all 0.3s;
    color: white;
  
    font-size: 15px;
    padding: 10px 20px;
  }
  
  .real .real1 .real-content1 .button:hover {
    color: #6A41AE;
    background-color: #fafafa;
    border: 2px solid #6A41AE;
  }
  
  
