.update {
    max-width: 1200px;
    margin: auto;
    justify-content: center;
    align-items: center;
}
.update .update-content {
    align-items: center;
    justify-content: center;
    text-align: center;
}


.update .update-content h3 {
    font-size: 40px;
    font-weight: 600;
}

.update .image img{
    max-width: 1200px;
    padding: 20px 0 0 0 ;
}

.update .update-content h4{
    font-size: 15px;
    color: #AD88C6;
}