@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* base styles */
* {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  color: #6A41AE;
}


/*button */
.button {
  background: #6A41AE;
  border-radius: 6px;
  border: 2px solid transparent;

  box-shadow: 8px 8px 20px 0px #9290C3;

  line-height: 20px;
  cursor: pointer;
  transition: all 0.3s;
  color: white;

  font-size: 15px;
  padding: 10px 20px;
}

.button:hover {
  color: #6A41AE;
  background-color: #fafafa;
  border: 2px solid #6A41AE;
}


#subscribe {
  width: 280px;
  padding: 10px;
  border: 1px solid #6A41AE;
  border-radius: 5px;
}
